
@{
    ViewBag.Title = "Good Bye";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Say Good Bye</h2>

<h3>Time: @ViewBag.Time</h3>

@section scripts{
    <script>
        alert('JavaScript');
    </script>
}