
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="~/Hello/Register?login=admin&pass=abc123!">Register</a>

<br/>
<form action="~/hello/register" method="post">
    <label>Login Id:</label>
    <input name="loginid" type="text" />
    <br />
    <label>Password:</label>
    <input name="password" type="password" />
    <br />
    <input type="submit" value="Submit" />
</form>